<html>
<head>
	<title>index</title>
</head>
<body>
	<section id="header">
		<span>mengqiu Awesome</span>
		<ul>
			<li><a href="/index"></a>Home</li>
			<li><a href="/list"></a>List</li>
			<li><a href="/edit"></a>Edit</li>
		</ul>
	</section>
	<section id="banner"></section>
	<section id="content">
		<h1>Mengqiu Awesome</h1>
	</section>
	<section id="footer"></section>
	

</body>
</html>